{% extends "base-view.html" %}

{% load staticfiles %}

{% block body_block %}

            <!-- Content Wrapper -->
            <article class="about-page">
                <!-- Breadcrumb -->
                <section class="theme-breadcrumb pad-50">
                    <div class="theme-container container ">
                        <div class="row">
                            <div class="col-sm-8 pull-left">
                                <div class="title-wrap">
                                    <h2 class="section-title no-margin">About us</h2>
                                    <p class="fs-16 no-margin">Know about us more</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <ol class="breadcrumb-menubar list-inline">
                                    <li><a href="#" class="gray-clr">Home</a></li>
                                    <li class="active">About</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.Breadcrumb -->

                <!-- About Us -->
                <section class="pad-50 about-wrap">
                    <span class="bg-text"> About </span>
                    <div class="theme-container container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="about-us pt-10">
                                    <p class="fs-16 wow fadeInUp" data-wow-offset="50" data-wow-delay=".25s">
                                      The main focus of the company is on developing a speedy and reliable courier service on the strength of high quality service and professionally managed network of branches. Our concentrated efforts in pursuit of excellence have earned us a stable and loyal client base.
                                    </p>
                                    <ul class="feature">
                                        <li>
                                            <img alt="" src="{% static 'assets/img/icons/icon-2.png' %}" class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s" />
                                            <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                                <h2 class="title-1">Speed</h2>
                                            </div>
                                        </li>
                                        <li>
                                            <img alt="" src="{% static 'assets/img/icons/icon-3.png' %}" class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s" />
                                            <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                                <h2 class="title-1">Safety</h2>
                                            </div>
                                        </li>
                                        <li>
                                            <img alt="" src="{% static 'assets/img/icons/icon-4.png' %}" class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s" />
                                            <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                                <h2 class="title-1">Reliability</h2>
                                            </div>
                                        </li>
                                        <li>
                                            <img alt="" src="{% static 'assets/img/icons/icon-1.png' %}" class="wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s" />
                                            <div class="feature-content wow rotateInDownRight" data-wow-offset="50" data-wow-delay=".30s">
                                                <h2 class="title-1">Economy</h2>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6 text-center">
                                <img alt="" src="{% static 'assets/img/block/about-img.png' %}" class="effect animated fadeInRight" />
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.About Us -->

                <!-- More About Us -->
                <section class="pad-30 more-about-wrap">
                    <div class="theme-container container pb-100">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".20s">
                                <div class="more-about clrbg-before" style="padding-bottom: 143px;">
                                    <h2 class="title-1">Our Vision</h2>
                                    <div class="pad-10"></div>
                                    <p>
                                      We are a team of professionals committed to corporate excellence.
We aspire to develop high competency and achieve zero error in service through high technology and be synonymous high quality service.

                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".30s">
                                <div class="more-about clrbg-before">
                                    <h2 class="title-1">Our History</h2>
                                    <div class="pad-10"></div>
                                    <p>Started in 1990, Speed Line Express Ltd a leading courier agency is pioneer among
                                      developing and organized and well-networked chain of courier services .
                                       Its founders Mr. Serazul Islam & Mr. Eaar Hossain spearheaded courier business and as of today
                                       their boasts of 22 years of experience in the field. Under their experience guidance, business has seen
                                       exponential growth and established their successful businessman.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4  col-sm-4 wow fadeInUp" data-wow-offset="50" data-wow-delay=".40s">
                                <div class="more-about clrbg-before"  style="padding-bottom: 70px;">
                                    <h2 class="title-1">Our Mission</h2>
                                    <div class="pad-10"></div>
                                    <p>
                                      We seek to be, and be recognized as a responsible, fair and profitable organization committed to providing our CUSTOMERS.
                                      A precise prompt and courteous service for our EMPLOYEES.
                                      A sprit of family and opportunity for personal growth for our SHAREHOLDERS.
                                      A fair profit and for the COMMUNITY.
                                      Support for activities that enhance the quality of life.

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- /.More About Us -->
            </article>
            <!-- /.Content Wrapper -->

  {% endblock %}
